@use 'theme';

.header {
  height: 540px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 180px 50px 50px 50px;
  @extend %profile-background;
}

.header h2 {
  color: white;
  text-shadow: 4px 3px 0 #5a5241;
  margin: 10px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .header {
    width: 33.3%;
    max-width: 450px;
    min-width: 150px;
    align-self: start;
    border-radius: 30px;
    margin: 150px 0px 50px 50px;
    padding: 50px;
  }

  .profile-pic img{
    min-width:95px;
  }
}