@use 'theme';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */


body {
  color: #212120;
  font-size: 24px;
  font-family: theme.$font-family-regular;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @extend %white-background;
}

main {
  background-color: #545149;
  width: 90%;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  @extend %white-background;
}

@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    align-self: start;
    justify-content: center;
  }

  main {
    width: 60%;
    align-items: center;
    flex-direction: row;
    margin: 150px 50px 0px 50px;
  }
}