@use 'theme';

nav {
  height: 120px;
  color: #FFFFFF;
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  justify-items: center;
  position: fixed;
  width: 100%;
  @extend %profile-background;

  span {
    display: flex;
    font-family: theme.$font-family-title;
    justify-items: center;
  }

  .write-new-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
  }

  .write-new-tweet:hover {
    background-color: #ffffff72;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px
  }

  .no-margin {
    margin: 0 0 4px 0;
  }

}

#back-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: rgb(62, 57, 193);
}

@media only screen and (min-width: 1024px) {
  nav {
    width: 100%;
    float: left;
    align-self: start;
    height: 120px;
    background-color: #4056A1;
    color: #FFFFFF;
    background-image: none;
    box-shadow: 0px 0px 10px rgba(93, 93, 93, 0.68);
  }
}

