header {
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #1d55a3;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
}